
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-laptop-1:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-wrench-1:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-asl:before { content: '\e805'; } /* '' */
.icon-adult:before { content: '\e806'; } /* '' */